@font-face {
  font-family: RadionB-Book;
  src: url("../fonts/RadionB/RadionB-Book.otf");
}
@font-face {
  font-family: RadionB-Light;
  src: url("../fonts/RadionB/RadionB-Light.otf");
}
@font-face {
  font-family: RadionB-Regular;
  src: url("../fonts/RadionB/RadionB-Regular.otf");
}
html{
  font-size: 10px;
}
html, *{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  font-family: RadionB-Regular, "sans-serif";
  font-size: 1.6rem;
  color:#292C35;
}
/* *** common *** */
h2{
  font-family: RadionB-Light, "sans-serif";
  font-weight: 300;
  font-size: 5rem;
  width: 80%;
  text-align: center;
  margin: 4rem auto;
}
h3{
  font-family: RadionB-Regular, "sans-serif";
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -0.02em;
}
span{
  padding: 0.5rem 0;
}
.txt-bold{
  font-size: 1.8rem;
  font-weight: bold;
}
.txt-small{
  font-size: 1.4rem;
  color: #999;
}
.spacer-20{
  display: block;
  height:2rem;
}
.spacer-40{
  display: block;
  height:4rem;
}
.padding-20{
  padding: 2rem;
}
input[type=email], button{
  all: unset;
  border-radius: 3rem;
  padding: 1rem 2rem;
}
input[type=email]{
  border: 1px solid #D8D8D8;
  color: #333;
}
input[type=email]::-webkit-input-placeholder{
  color: #D8D8D8;
  opacity: 1; /* Firefox */
}
input[type=email]::-moz-placeholder{
  color: #D8D8D8;
  opacity: 1; /* Firefox */
}
input[type=email]:-ms-input-placeholder{
  color: #D8D8D8;
  opacity: 1; /* Firefox */
}
input[type=email]::-ms-input-placeholder{
  color: #D8D8D8;
  opacity: 1; /* Firefox */
}
input[type=email]::placeholder{
  color: #D8D8D8;
  opacity: 1; /* Firefox */
}
.btn-primary{
  background: #FF7144;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-family: RadionB-Light,"sans-serif";
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-align: center;
}
.btn-primary:hover{
  background: #f14d1b;
}
.block-grey{
  border-radius:3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F3F3F3;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
.fade-in{
  -webkit-animation: fadeIn 1.1s;
          animation: fadeIn 1.1s;
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.scale-in{
  -webkit-animation: scaleIn .5s;
          animation: scaleIn .5s;
}
@-webkit-keyframes scaleIn {
  0% { -webkit-transform: scale(0); transform: scale(0); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes scaleIn {
  0% { -webkit-transform: scale(0); transform: scale(0); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip::before {
  position: absolute;
  content:attr(data-tooltip-text);
  display: block;
  width: auto;
  min-width: 10rem;
  background-color: #292C35;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.6rem;
  top:-4rem;
  left: -75%;
  z-index: 1;  
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: -40%;
  left:25%;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #292C35 transparent transparent transparent;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.tooltip:hover::before, .tooltip:hover::after{
  opacity: 1;
}
/* *** Hero *** */
.hero{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85rem;
}
.hero-image{
  width: 50%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center center;
}
.hero-image--left{
  background-image: url("../assets/hero-blue-sofa.png");
}
.hero-image--right{
  background-image: url("../assets/hero-orange-sofa.png");
}
/* *** intro *** */
.intro{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro-info{
  width: 35%;
}
.intro-block-container{
  width:65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro-block{
  height: 27rem;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
  line-height: 140%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro-block__img{
  display: block;
  width: 15rem;
  height: 15rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.intro-block__img--1{
  background-image: url("../assets/block-img-1.svg");
}
.intro-block__img--2{
  background-image: url("../assets/block-img-2.svg");
}
.intro-block__img--3{
  background-image: url("../assets/block-img-3.svg");
}
/* *** rating *** */
.rating__img{
  width: 100%;
  height: 70rem;
  background: url("../assets/img-rating-capture.png") no-repeat center center;
  background-size: cover;
  border-radius:0.6rem;
  position: relative;
  overflow: hidden;
}
.rating__img::before {
  position: absolute;
  top: 0;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color:#fff;
  /*content: "\2726"; /*star unicode char*/
  content:"";
  font-size: 10rem;
  background: url("../assets/img-rating-white-star.png") no-repeat center center;
  background-size: contain;
  width: 18%;
  height:18%;
}
.rating__score{
  position: absolute;
  bottom:2rem;
  left: 3rem;
}
/* *** showcase *** */
.showcase__head{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.showcase__color-selector{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.showcase__color-selector span{
  margin-right: 4rem;
}
.showcase__color-list{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.showcase__color-list input[type=radio]{
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-right: 2rem;
  cursor: pointer;
  background-color: #000;
  color: #000;
}
.showcase__color-list input[type=radio]::before {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
  outline-offset: max(.4rem, .4rem);
  outline: max(.2rem, .2rem) solid #000;
}
.showcase__color-list input[type=radio]:checked::before, .showcase__color-list input[type=radio]:hover::before  {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.showcase__color-list input[type=radio].radio-green, .showcase__color-list input[type=radio].radio-green::before {
  background-color: #606c58;
  color: #606c58;
  outline-color: #606c58;
}
.showcase__color-list input[type=radio].radio-navy, .showcase__color-list input[type=radio].radio-navy::before{
  background-color: #3d4a6a;
  color: #3d4a6a;
  outline-color: #3d4a6a;
}
.showcase__color-list input[type=radio].radio-grey, .showcase__color-list input[type=radio].radio-grey::before {
  background-color: #BBC8D9;
  color: #BBC8D9;
  outline-color: #BBC8D9;
}
.showcase__color-list input[type=radio].radio-beige, .showcase__color-list input[type=radio].radio-beige::before{
  background-color: #BEBAB8;
  color: #BEBAB8;
  outline-color: #BEBAB8;
}
/* *** showcase gallery *** */
.showcase__gallery{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 30rem;
	        flex: 1 1 30rem; /* makes height equal */
}
.showcase__gallery--thumbs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}
.showcase__gallery--thumbs > div{
  margin: 0 1rem 1rem 0;
  position: relative;
}
.showcase__gallery--thumbs img{
  max-width: 90%;
}
.showcase__gallery--highlight{
  width: 50%;
  position: relative;
  margin-bottom: 1rem;
}
/* *** description tags *** */
div.description-tags{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
div.description-tags span{
  background-color: #fff;
  padding:.5rem 1rem;
  margin-right: .5rem;
  border-radius: 3.5rem;
}
div.description-tags span:last-child{
  font-family: RadionB-Light, "sans-serif";
  font-weight: 100;
  color: rgb(80, 80, 80);
}
/* *** banner *** */
.banner{
  height: 78rem;
  width: 100%;
  position: relative;
  background-image: url("../assets/img-banner.png");
  background-position: center center;
  background-size: cover;
}
.banner__text{
  font-family: RadionB-Light, "sans-serif";
  font-size: 8rem;
  color: #fff;
  position: absolute;
  bottom: 2rem;
}
/* references */
.references__logos{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}
/* footer */
.footer__rows{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__social{
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1
}
.footer__links a{
  display: block;
  font-family: RadionB-Light, "sans-serif";
  text-decoration: none;
  cursor: pointer;
  color: #333;
  padding: 1rem .5rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.footer__links a:hover{
  font-family: RadionB-Regular, "sans-serif";
}
.footer__image{
  background: url("../assets/logo-footer.png");
  background-size: contain;
  background-repeat: no-repeat;
  height:20rem
}
.footer__footnote{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #E5E5E5;
}
.footer__footnote a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  margin-left:2rem;
}
.footer__footnote a:hover{
  color:#333
}
.footer__footnote div:last-child{
  text-align: right;
}
.social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.social-link{
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2rem;
}
.social-link--instagram{
  background-image: url("../assets/icons/instagram.svg");
}
.social-link--facebook{
  background-image: url("../assets/icons/fb.svg");
}
.social-link--twitter{
  background-image: url("../assets/icons/twitter.svg");
}

@media only screen and (max-width: 991px){
  h2{
    width: 90%;
  }
  .hero{
    height: 40rem;
    margin-top: 6rem;
  }
  .intro{
    display: block;
  }
  .intro-info{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .intro-block-container{
    width: 100%;
  }
  .rating__img{
    height: 40rem;
  }
  div.description-tags span{
    display: block;
  }
  .showcase__gallery--highlight img{
    width: 100%;
  }
  .banner{
    height: 40rem;
  }
  .banner__text{
    font-size: 5rem;
  }
  .references__logos{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin-top: 0;
  }
  .references__logos img{
    width: 30%;
  }
}

@media only screen and (max-width: 767px){
  .btn-primary, input[type=email]{
    display: block;
    width: 70%;
    margin: 1rem auto;
    padding:2rem;
  }
  .txt-small{
    font-size: 1.6rem;
  }
  .hero{
    
    -ms-flex-wrap: nowrap;
    
        flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;   
    height: 60rem;
  }
  .hero-image{
    min-width: 99%;
    -ms-flex-preferred-size: 100rem;
        flex-basis: 100rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .intro-block-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-block, .intro-block.block-grey{
    width: 80%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: block;
    height: auto;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    font-size:1.6rem;
  }
  .intro-block__img{
    float: left;
    margin: 0 2rem;
  }
  .intro-block span{
    display: block;
    margin-top: 2rem;
  }
  .rating__score{
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .footer__rows{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .social{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-link{
    width: 3rem;
    height: 3rem;
  }
  .footer__image{
    height: 10rem;
  }
  .footer__links a {
    padding: 2rem;
    font-size: 1.8rem;
  }
  .references__logos img{
    width: 45%;
  }
}

@media only screen and (max-width: 479px){
  h2{
    font-size:3rem;
  }
  .padding-20{
    padding: 1rem;
  }
  .intro-block, .intro-block.block-grey{
    width: 100%;
  }
  .btn-primary, input[type=email]{
    width: 70%;
  }
  .rating__img{
    background-position: right center;
  }
  .rating__score {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
  }
  .rating__score img{
    width: 96%;
    margin-left: 2%;
    position: absolute;
    bottom: 2rem;
  }
  .showcase__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  .showcase__color-selector span{
    display: none;
  }
  .showcase__gallery{
    display: block;
    width: 100%;
  }
  .showcase__gallery--thumbs{
    width: 100%;
  }
  .showcase__gallery--highlight {
    display: none;
  }
  .references__logos{
    display: block;
    text-align: center;
  }
  .references__logos img{
    width: 60%;
  }

}