/* *** Header *** */
[data-scrollstatus="up"] .header{
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
[data-scrollstatus="down"] .header{
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
.header{
  height: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #292C35;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0.1rem 0 0.6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1rem 0 0.6rem rgba(0, 0, 0, 0.3);
}
.header > * {
  width: 30%;
}

.nav__box{
  padding-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  height: 100%;
}
.nav__toggle, .nav__btn{
  display: none;
}
.header__nav-link{
  text-decoration: none;
  color:inherit;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-align:center; 
      -ms-flex-align:center; 
          align-items:center;
  height: 2rem;
  padding:0.7rem 1.5rem 1rem;
  font-style: normal;
  font-weight: 400;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__nav-link:hover:not(.header__nav-link--active){
  color: #417399;
}
.header__nav-link--active{
  color:#fff;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
  background-color: #22425A;
  border-radius: 5rem;
  -webkit-border-radius:5rem;
  -moz-border-radius:5rem;
}
.header__logo{
  text-align: center;
  line-height: 9rem;
}
.header__subnav{
  text-align: right;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;    
  -webkit-box-sizing: border-box;    
          box-sizing: border-box;
}
.header__subnav-link{
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: contain;
  margin-left: 2rem;
}
.header__subnav-link--smiley{
  background-image: url("../assets/icons/smiley.svg");
}
.header__subnav-link--handbag{
  background-image: url("../assets/icons/handbag.svg");
}

@media only screen and (max-width: 991px){
  .header__logo{
    text-align: left;
    margin-left: 2rem;
  }
  .header__logo img{
    max-width: 100%;
  }
  .header__subnav{
    padding-right: 7rem;
  }
  .header__nav{
    position: absolute;
  }
  .header__nav-link:hover:not(.header__nav-link--active) {
    background: rgba(0, 0, 0, 0.1);
  }
  .header__nav-link--active{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  #nav__toggle {
    opacity: 0;
  }
  #nav__toggle:checked ~ .nav__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #nav__toggle:checked ~ .nav__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  #nav__toggle:checked ~ .nav__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #nav__toggle:checked ~ .nav__box {
    visibility: visible;
    right: 0;
  }
  .nav__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    width: 2.6rem;
    height: 2.6rem;
    cursor: pointer;
    z-index: 1;
  }
  .nav__btn > span,
  .nav__btn > span::before,
  .nav__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #616161;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
    padding: 0;
  }
  .nav__btn > span::before {
    content: "";
    top: -0.8rem;
  }
  .nav__btn > span::after {
    content: "";
    top: 0.8rem;
  }
  .nav__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 30rem;
    height: 100%;
    margin: 0;
    padding: 8rem 0;
    list-style: none;
    background-color: #eceff1;
    -webkit-box-shadow: 0.1rem 0 0.6rem rgba(0, 0, 0, 0.2);
            box-shadow: 0.1rem 0 0.6rem rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .header__nav a{
    display: block;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}